.wehoops-members{
    /* background-image: url('../../images/basketball-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: #000;
    width: 100%;
    max-width: 100%;
    height: 100%;
    font-family: var(--main-font);
    padding: 3rem;
    margin: 1rem 0;
    color: var(--text-color-light);
}

.members-list{
    width: 80rem;
    max-width: 100%;
    margin: 5rem auto;
}
.member{
    display: flex;
    margin: 10rem auto;
    align-items: center;
    justify-content: space-between;
    width: 100rem;
    max-width: 100%;
}
.members-header{
    width: 80rem;
    max-width: 100%;
    margin: 5rem auto 2rem auto;
}
.members-title{
    font-size: 2.8rem;
    text-transform: uppercase;
}
.sub-member-title{
    font-size: .9rem;
    text-transform: uppercase;
    font-weight: 600;
}
.members-name{
    font-size: 2rem;
    margin: .7rem 0;
}
.members-info-text{
    max-width: 100%;
    width: 50rem;
    line-height: 1.8;
    font-size: 1rem;
    margin: 1.6rem 0;
}
.members-image{
    object-fit: cover;
    width: 22rem;
    max-width: 100%;
    height: 25rem;
}
/* MEMBER SOCIAL MEDIA */
.members-social-icon{
    font-size: 2.5rem;
    cursor: pointer;
}
.members-social-media{
    display: flex;
    justify-content: space-between;
    width: 12rem;
    margin-top: 2rem;
}
.member-social-link{
    color: var(--text-color-light);
    transition: all .3s ease;
}
.member-social-link:hover{
    transform: scale(1.1);
}
/* OTHER MEMBERS LIST */
.other-members-section{
    margin: 5rem 0;
}
.other-members-list{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 1fr;
    justify-content: space-between;
    width: 80rem;
    max-width: 100%;
    margin: 0 auto;
    gap: 3rem;
}
.other-members-header{
    width: 80rem;
    max-width: 100%;
    margin: 5rem auto;
}
.other-member-title{
    font-size: 2.8rem;
    text-transform: uppercase;
}
.other-image{
    object-fit: cover;
    width: 18rem;
    max-width: 100%;
    height: 25rem;
}
.other-member-name{
    font-size: 1.2rem;
    text-align: center;
    margin-top: .5rem;
    color: var(--text-color-light);
}

/* ACHIEVEMENTS LIST SECTION */
.member-achievement-title{
    font-size: 1.1rem;
    margin-bottom: 1rem;
}
.achievement-item{
    padding-left: 2rem;
}
.achievement-list{

    margin: 1rem 0;
}
.member-achievement{
    margin: 1rem 0;
}

@media screen and (max-width: 2000px){
    html, body{
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
}

@media screen and (max-width: 1480px) {
    .members-header{
        width: 70rem;
    }
    .members-info-text{
        width: 40rem;
    }
    .member{
        display: flex;
        margin: 10rem auto;
        align-items: center;
        justify-content: space-between;
        width: 70rem;
        max-width: 100%;
    }
}
@media screen and (max-width: 1330px) {
    .other-members-list{
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, auto);
        gap: 3rem;
    }
}
@media screen and (max-width: 1180px) {
    .members-header{
        width: 60rem;
    }
    .members-info-text{
        width: 28rem;
        font-size: 1rem;
    }
    .member{
        margin: 5rem auto;
        width: 60rem;
    }
    .other-members-header{
        width: 60rem;
    }
    .other-members-list{
        width: 60rem;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, auto);
        gap: 3rem;
    }
    .other-image{
        object-fit: cover;
        width: 25rem;
        max-width: 100%;
        height: 30rem;
    }
    

}
@media screen and (max-width: 980px) {
    .members-header{
        width: 30rem;
    }
    .members-info-text{
        width: 30rem;
        font-size: .9rem;
    }
    .list-of-details{
        font-size: .9rem; 
    }
    .member-one, .member-three{
        width: 30rem;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
    }
    .member-two, .member-four{
        width: 30rem;
        height: 100%;
        justify-content: space-between;
        flex-direction: column-reverse;
    }
    .members-image{
        object-fit: cover;
        width: 30rem;
        max-width: 100%;
        height: 30rem;
        margin: 1rem 0;
    }
    .other-image{
        width: 20rem;
        height: 25rem;
    }
}
@media screen and (max-width: 700px) {
    .other-members-list{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        width: 22rem;
        gap: 3rem;
    }
    .other-image{
        width: 22rem;
        height: 25rem;
    }
    .other-members-header{
        width: 22rem;
    }
    .other-member-title{
        font-size: 2.3rem;
    }
}
@media screen and (max-width: 580px) {
    .wehoops-members{
        padding: 1.5rem;
    }
    .members-header{
        width: 25rem;
        max-width: 100%;
        font-size: 2rem;
        letter-spacing: 2px;
        text-align: center;
    }
    .members-title{
        font-size: 2.3rem;
    }
    .members-info-text{
        width: 22rem;
        font-size: .8rem;
    }
    .member-one, .member-three{
        width: 22rem;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
    }
    .member-two, .member-four{
        width: 22rem;
        height: 100%;
        justify-content: space-between;
        flex-direction: column-reverse;
    }
    .sub-member-title{
        font-size: .8rem;
    }
    .members-name{
        font-size: 1.8rem;
    }
    .members-image{
        object-fit: cover;
        width: 22rem;
        max-width: 100%;
        height: 25rem;
    }
    .members-social-media{
        display: flex;
        justify-content: space-between;
        width: 8rem;
    }
    .member-achievement-title{
        font-size: .9rem;
    }
    .list-of-details{
        font-size: .8rem; 
    }
    .members-social-icon{
        font-size: 2rem;
    }

}
@media screen and (max-width: 440px) {
    .wehoops-members{
        padding: 1.5rem;
    }
    .members-header{
        width: 22rem;
        max-width: 100%;
        font-size: 2rem;
    }
    .members-title{
        font-size: 1.8rem;
    }
    .members-info-text{
        width: 19rem;
    }
    .member-one, .member-three{
        width: 19rem;
        height: 100;
    }
    .member-two, .member-four{
        width: 19rem;
        height: 100%;
    }
    .members-image{
        width: 19rem;
        height: 22rem;
    }
    .members-social-media{
        display: flex;
        justify-content: space-between;
        width: 7rem;
    }
    .members-name{
        font-size: 1.7rem;
    }
    .other-members-list{
        width: 19rem;
    }
    .other-image{
        width: 19rem;
        height: 22rem;
    }
    .other-members-header{
        width: 19rem;
    }
    .other-member-title{
        font-size: 1.8rem;
    }
}
@media screen and (max-width: 440px) {

    .members-title{
        font-size: 1.7rem;
    }
    .members-info-text{
        font-size: .8rem;
    }

}