.gallery-home{
    background-image: url('../../images/basketball-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 100%;
    height: 100%;
    font-family: var(--main-font);
    padding: 3rem;
    margin: 5rem 0;
}
.gallery-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100rem;
    margin: 5rem auto;
}
.gallery-header{
    width: 100rem;
    margin: 3rem auto 6rem auto;
    display: flex;
    justify-content: space-between;
}
.gallery-title{
    color: var(--text-color-light);
    font-size: 2.5rem;
    text-transform: uppercase;
}
.gallery-btn{
    width: 12rem;
    height: 2.8rem;
    text-transform: uppercase;
    background-color: var(--light-bg);
    border: 2px solid var(--light-bg);
    font-weight: 700;
    font-family: var(--main-font);
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease;
    font-size: 1rem;
}
.gallery-btn:hover{
    width: 14rem;
    background-color: var(--main-red);
    color: var(--text-color-light);
    border: none;
}

.gallery-img{
    width: 30rem;
    height: 30rem;
    object-fit: cover;
    border-radius: 5px;
}