.contact-main{
    padding: 2rem;
    font-family: var(--main-font);
    height: 100%;
}
.contact-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80rem;
    max-width: 100%;
    margin: 5rem auto 0 auto;
}
.contact-section{
    width: 100%;
    max-width: 100%;
}
.contact-title{
    font-size: 2.5rem;
    font-family: var(--main-font);
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
}

.contact-text{
    margin: 2rem 0 5rem 0;
}

/* CONTACT FORM SECTION */
.contact-form form{
    margin: 0;
}

.fname-input, .email-input{
    margin:  0;
    max-width: 100%;
}
.message-input{
    width: 30rem;
    height: 10rem;
    margin: 1.5rem 0;
    max-width: 100%;
}
.fname-input .fname,
.email-input .email{
    width: 30rem;
    height: 3rem;
    border: 1px solid var(--dark-color);
}
.fname-input label,
.email-input label,
.message-input label{
    text-transform: uppercase;
    font-size: .9rem;
    color: var(--transparent-dark);
}

.fname, .email{
    width: 100%;
    max-width: 100%;
    height: 100%;
    padding: .5rem;
    font-family: var(--main-font);
    font-size: 1rem;
    outline: none;
}
.message{
    font-size: .9rem;
    width: 100%;
    max-width: 100%;
    height: 100%; 
    resize: none;
    padding: .5rem;
    font-family: var(--main-font);
    outline: none;
    border: 1px solid var(--dark-color);
}
.contact-btn{
    width: 14rem;
    height: 2.8rem;
    background-color: var(--dark-color);
    color: var(--text-color-light);
    text-transform: uppercase;
    font-family: var(--main-font);
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1.5rem;
    letter-spacing: 1px;
    border-radius: 5px;
    transition: all .3s ease;
    font-weight: 700;
}

.contact-btn:hover{
    width: 16rem;
    background-color: var(--main-red);
    color: var(--text-color-light);
}

/* CONTACT INFO SECTION */
.contact-info{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 22rem;
    width: 40rem;
}
.contact-phone,
.contact-address{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 30rem;
    max-width: 100%;
}

.context{
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.8;
}
.phone-icon{
    font-size: 2.3rem;
    margin-right: 2rem;
}
.call{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    width: 12.5rem;
}
.address p,
.phone p{
    margin: .5rem 0;
}

.contact-text{
    font-size: 1.2rem;
}
.phone-text{
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
}
.phone-text:hover{
    color: var(--main-red);
}
.contact-social{
    display: flex;
    justify-content: space-between;
    width: 15rem;
    flex-direction: column;
}
.contact-social-icon{
    font-size: 2rem;
}
.social-info-contact{
    display: flex;
    justify-content: space-between;
    width: 10rem;
    margin-top: 1rem;
}
/* .contact-map-link{
    width: 16rem;
} */
/* .contact-direction{
    width: 14rem;
    height: 2.8rem;
    background-color: var(--dark-color);
    color: var(--text-color-light);
    border: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-family: var(--main-font);
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease;
}
.contact-direction:hover{
    color: var(--text-color-light);
    background-color: var(--main-red);
    width: 16rem;
} */

/* CONTACT RESPONSIVE SECTION */
@media screen and (max-width: 2000px){
    html, body{
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
}

@media screen and (max-width: 1170px) {
    .contact-text{
        width: 25rem;
    }
    .contact-info{
        width: 25rem;
    }
    .phone,.address{
        width: 25rem;
    }
    .contact-phone,
    .contact-address{
        width: 25rem;
    }
}
@media screen and (max-width: 970px){
    .contact-section{
        width: 30rem;
        max-width: 100%;
    }
    .contact-content{
        flex-direction: column;
    }
    .contact-info{
        margin-top: 8rem;
        width: 30rem;
    }
}
@media screen and (max-width: 560px){
    .contact-section{
        width: 25rem;
    }
    .contact-info{
        width: 25rem;
    }
}
@media screen and (max-width: 470px){
    .contact-section{
        width: 20rem;
    }
    .contact-text{
        width: 20rem;
        font-size: 1rem;
    }
    .contact-info{
        width: 20rem;
    }
    .address-icon,
    .phone-icon{
        font-size: 3rem;
    }
    .address-text{
        font-size: 1rem;
        line-height: 1.7;
    }
    .phone-text{
        font-size: 1rem;
    }
    .context{
        font-size: 1.6rem;
    }
}
@media screen and (max-width: 390px){
    .contact-section{
        width: 18rem;
    }
    .contact-text{
        width: 18rem;
    }
    .contact-info{
        width: 18rem;
    }
}