    .registration-form{
        /* background-image: url('../../images/basketball-bg.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; */
        width: 100%;
        max-width: 100%;
        height: 100%;
        font-family: var(--main-font);
        padding: 3rem;
        margin-top: 6rem;

    }
    .register-fname-input,
    .address-input,
    .program-input,
    .age-input,
    .dob-input,
    .register-email-input,
    .phone-input,
    .emergency-name-input,
    .emergency-number-input,
    .medical-input,
    .payment-method,
    .reference-number{
        width: 100%;
    }
    .form-title{
        text-align: center;
        margin: 5rem;
        color: #fff;
    }
    form{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 2rem;
        width: 40rem;
        max-width: 100%;
        margin: 0 auto;
    }
    .label-title{
        color: #fff;
        font-size: .9rem;
        text-transform: uppercase;
    }
    .fname,
    .email,
    .date,
    .age,
    .address,
    .selected-items,
    .emergency-name,
    .emergency-number,
    .phone,
    .medical-condition,
    .reference-number-input{
        width: 40rem;
        max-width: 100%;
        height: 2.5rem;
        background-color: #fff;
        color: #232323;
        padding: 0 .5rem;
        font-size: .8rem;
        border: 1px solid var(--text-light-color);
        outline: none;
        margin-top: .3rem;
    }
    .textarea{
        width: 20rem;
        max-width: 100%;
        height: 10rem;
        resize: none;
        background-color: #fff;
        color: #999;
        padding: .5rem .5rem;
        font-size: .9rem;
        border: none;
        outline: none;
    }

    .gender-section{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        width: 20rem;
        max-width: 100%;
    }
    .register-waiver-section{
        display: flex;
        align-items: center;
    }
    .waiver-title{
        font-size: .9rem;
        color: var(--text-light-color);
        text-transform: uppercase;
        color: #fff;
        margin-bottom: .3rem;
    }
    .waiver-title-box{
        margin: 0;
    }
    .waiver-btn{
        width: 8rem;
        height: 2rem;
        margin-bottom: 2rem;
    }
    .waiver-text{
        font-size: .75rem;
        line-height: 1.8;
        color: #fff;
    }
    .waiver-checkbox{
        margin-right: .5rem;
    }
    .waiver-header{
        color: #fff;
        margin-bottom: 2rem;
    }
    .waiver-details{
        margin: 2rem 0;
    }
    .form-btn-container{
        width: 15rem;
        max-width: 100%;
    }
    .form-btn{
        width: 100%;
        margin-top: 2rem;
        height: 2.5rem;
        font-family: var(--main-font);
        border: none;
        background-color: var(--main-red);
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        font-size: .9rem;
        letter-spacing: 2px;
        border-radius: 5px;
        cursor: pointer;
        transition: all .3s ease;
    }
    .form-btn:hover{
        background-color: #000;
    }
    .form-title{
        margin: 3rem auto;
    }
    

    /* RESPONSIVE SECTION */
@media screen and (max-width: 470px) {
    .register-waiver-section{
        display: flex;
        align-items: flex-start;

    }
    .waiver-title-box{
        position: relative;
        top: -.2rem;
    }
}