/* TOP CONTACT NAV SECTION */

/* TOP CONTACT NAV SECTION */
.top-nav {
    background-color: #fff;
    padding: 1rem;
    height: 3.5rem;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--main-font);
    width: 100%;
}

/* .top-nav{
    background-color: #fff;
    padding: 1rem;
    height: 3.5rem;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--main-font);
} */
.top-contact-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 21rem;
}
.top-email{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
}
.top-email p{
    font-size: .8rem;
    text-decoration: underline;
}
.top-contact-button{
    width: 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;

}
.contact-top-icon{
    font-size: 1.2rem;
    margin-right: .4rem;
}
.financial-link{
    color: var(--dark-color);
    font-size: .9rem;
    padding: 1rem;
    margin-right: 1rem;
}
.financial-link:hover{
    color: var(--main-red);
}
.tel-top,
.mail-top{
    text-decoration: none;
    color: var(--dark-color);
}
.tel-top:hover,
.mail-top:hover{
    color: var(--main-red);
}
.top-register-btn{
    width: 10rem;
    height: 2rem;
    background-color: var(--main-red);
    color: var(--text-color-light);
    border: none;
    border-radius: 5px;
    font-weight: 800;
    font-family: var(--main-font);
    cursor: pointer;
    transition: all .3s ease;

}
.top-register-btn:hover{
    background-color: var(--dark-color);
}
/* MAIN NAV SECTION */
.nav-container {
    width: 100%;
    height: 12rem;
    position: relative;
    z-index: 3;
}

.main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100rem;
    margin: 0 auto;
    height: 12rem;
    font-family: var(--main-font);
    transition: all 0.3s ease-in-out;
    z-index: 3;
}

/* When scrolled, change background of main-nav and make it fixed */
.main-nav.scrolled {
    background-color: rgba(119, 22, 22, .9); /* Change background color here */
    color: #fff; /* Optional: Change text color if needed */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for better visibility */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    z-index: 3; /* Ensure it stays on top of other elements */

}
.main-nav.scrolled .nav-logo {
    width: 6rem;
    height: 5rem;
}
.main-nav.scrolled .logo-link {
    width: 6rem;
    height: 5rem;
}


/* Update link colors when scrolled */
.main-nav.scrolled .nav-link {
    color: #fff; /* Adjust link color when scrolled */
}

/* Hover effects */
.main-nav.scrolled .nav-link:hover {
    background-size: 100% 3px;
 /* Adjust hover color when scrolled */
}
.brand-logo{
    display: none;
}
/* .main-nav-two{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 6rem;
    font-family: var(--main-font);
    background-image: url('../../images/events-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 100%;
    position: relative;
    z-index: 1;
} */
/* .main-nav-two::before{
    content: "";
    background-color: var(--dark-color);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: .6;
} */

.logo{
    color: var(--text-color-light);
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
}
.logo-link{
    height: 10rem; 
}
.nav-logo{
    width: 11rem;
    height: 11rem;
    object-fit: cover;
}
.nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav-link,
.nav-link-two{
    letter-spacing: 2px;
    color: var(--text-color-light);
    text-decoration: none;
    font-size: 1.3rem;
    margin: 0 3rem;
    font-weight: 600;
    text-transform: uppercase;
    background-image: linear-gradient(#fff, #fff);
	background-position: left bottom;
	background-repeat: no-repeat;
	background-size: 0% 3px;
	transition: .3s;
}

.nav-link:hover, .nav-link-two:hover  {
	background-size: 100% 3px;
}

.nav-button{
    display: none;
}
.burger-menu{
    font-size: 2rem;
    color: var(--light-bg);
    cursor: pointer;
}
.bot-nav{
    display: none;
}


/* RESPONSIVE DESIGN SECTION */
@media screen and (max-width: 2000px){
    html, body{
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
}
@media screen and (max-width: 1660px) {
    .main-nav{
        width: 80rem;
    }
    .nav-link{
        margin: 0 2rem;
    }
}
@media screen and (max-width: 1350px) {
    .main-nav{
        width: 70rem;
    }
    .nav-link{
        margin: 0 1.8rem;
        font-size: 1.2rem;
    }
    .nav-logo{
        width: 12rem;
        height: 100%;
    }
}
@media screen and (max-width: 1160px) {
    .main-nav{
        width: 60rem;
    }
    .nav-link{
        margin: 0 1.8rem;
        font-size: 1.2rem;
    }
    .nav-logo{
        width: 10rem;
        height: 10rem;
    }
}
@media screen and (max-width: 980px) {
    .main-nav{
        width: 55rem;
        height: 12rem;
    }
}
@media screen and (max-width: 890px) {
    /* .main-nav{
        width: 100%;
        padding: 1rem;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    } */
    .main-nav {
        width: 100%;
        padding: 1rem;
        justify-content: space-between;
        align-items: center;
        height: auto;
    }
    .brand-logo{
        display: block;
    }
    .logo{
        display: none;
    }
    .nav-item{
        display: none;
    }
    .nav-logo{
        width: 10rem;
        height: 10rem;
    }
    .nav-button{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .burger-menu,
    .close-menu{
        display: block;
        cursor: pointer;
        z-index: 9999;
        margin-right: 1rem;
    }
    .close-menu{
        font-size: 2rem;
        cursor: pointer;
        color: #000;
    }
    .logo-list{
        display: none;
    }

    .nav-link{
        background-image: linear-gradient(#a40f0f, #a40f0f);
        color: var(--dark-color);
    }
    
    .nav-item.active .nav-link {
        color: #000; /* Change the text color */
    }
    .nav-item.active {
        position: fixed; /* Fix the menu position */
        top: 3rem; /* Offset from the fixed nav */
        right: 0;
        width: 100%;
        height: calc(100% - 6rem); /* Adjust height */
        background-color: #fff; /* Match the scrolled nav background */
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        z-index: 999; /* Ensure it's above other content */
        box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
        overflow-y: auto;
        transition: all 0.3s ease-in-out;
    }
    /* .nav-item.active {
        top: 3rem ; 
        opacity: 1;
        right: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        padding: 5rem 4rem;
        position: absolute;
        max-width: 100%;
        height: 50rem;
        background-color: #fff;
        z-index: 1000;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    } */
    .top-nav{
        display: none;
    }
    .bot-nav{

        display: flex;
        flex-direction: column;
    }
    .top-contact-info{
        width: 22rem;
        margin: 1rem auto;
    }
    .top-email{
        color: #000;
    }

    .top-contact-button, .top-contact-info{
        display: flex;
        flex-direction: column;
        width: 25rem;
        margin: 1rem auto;
    }
    .top-register-btn{
        margin-top: 1rem;
    }
    .nav-item.active {
        top: 0 ; /* Show the menu when active */
    }

}
@media screen and (max-width: 830px) {
    .main-nav{
        width: 100%;
        padding: 1rem;
    }
}

@media screen and (max-width: 660px) {
    .main-nav {
        width: 100%;
        padding: 1rem;
    }

    /* .nav-item.active {
        top: 6rem;
    } */
    .nav-item{
        display: none;
    }

}
@media screen and (max-width: 630px) {
    .main-nav{
        width: 100%;
        padding: 1rem;
    }
    .nav-item{
        display: none;
    }

}
@media screen and (max-width: 480px) {
    .nav-logo{
        width: 8rem;
        height: 8rem;
    }
    .main-nav{
        height: 9rem;
    }
    .logo-link{
        height: 6rem;
    }
}






