.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100rem;
    margin: 0 auto;
    height: 15rem;
    font-family: var(--main-font);
}
.logo{
    color: var(--text-color-light);
    font-size: 2rem;
}
.nav-logo{
    width: 15rem;
    height: 15rem;
    object-fit: cover;
}
.nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav-link{
    letter-spacing: 2px;
    color: var(--text-color-light);
    text-decoration: none;
    font-size: 1.3rem;
    margin: 0 3rem;
    font-weight: 600;
    text-transform: uppercase;
    background-image: linear-gradient(#fff, #fff);
	background-position: left bottom;
	background-repeat: no-repeat;
	background-size: 0% 3px;
	transition: .3s;
}
.nav-link:hover  {
    color: var(--main-red);
	background-size: 100% 3px;
}


/* RESPONSIVE DESIGN SECTION */
@media screen and (max-width: 2000px){
    html, body{
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
}
@media screen and (max-width: 1660px) {
    .main-nav{
        width: 80rem;
    }
    .nav-link{
        margin: 0 2rem;
    }
}
@media screen and (max-width: 1350px) {
    .main-nav{
        width: 70rem;
    }
    .nav-link{
        margin: 0 1.8rem;
        font-size: 1.2rem;
    }
    .nav-logo{
        width: 12rem;
        height: 12rem;
    }
}
@media screen and (max-width: 1160px) {
    .main-nav{
        width: 60rem;
    }
    .nav-link{
        margin: 0 1.8rem;
        font-size: 1.2rem;
    }
    .nav-logo{
        width: 10rem;
        height: 10rem;
    }
}
@media screen and (max-width: 980px) {
    .main-nav{
        width: 55rem;
        height: 12rem;
    }
}
@media screen and (max-width: 890px) {
    .main-nav{
        width: 100%;
        padding: 1rem;
    }
    .nav-item{
        display: none;
    }
    .nav-logo{
        width: 10rem;
        height: 10rem;
    }
}
@media screen and (max-width: 830px) {
    .main-nav{
        width: 42rem;
        padding: 1rem;
    }
    .nav-item{
        display: none;
    }

}
@media screen and (max-width: 660px) {
    .main-nav{
        width: 40rem;
        padding: 1rem;
    }
    .nav-item{
        display: none;
    }

}
@media screen and (max-width: 630px) {
    .main-nav{
        width: 100%;
        padding: 1rem;
    }
    .nav-item{
        display: none;
    }

}
@media screen and (max-width: 480px) {
    .nav-logo{
        width: 8rem;
        height: 6rem;
    }
    .main-nav{
        height: 9rem;
    }
}






