.program-page-section{
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100rem;
    max-width: 100%;
    margin: 5rem auto;
    font-family: var(--main-font);
    padding: 2rem;
}
.program-page-title{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    width: 30rem;
    max-width: 100%;
    margin-bottom: 1rem;
}
.program-page-subtitle{
    font-size: 1.2rem;
    font-weight: 500; 
    margin-bottom: 2rem;
}

.event-info p{
    margin: 1rem 0;
    font-size: 1.1rem;
}

.event-list-item{
    display: flex;
    justify-content: space-between;
    list-style:circle;
    width: 30rem;
    max-width: 100%;
}

/* PROGRAM REGISTRATION SECTION */

.registration-section{
    /* background-image: url('../../../images/basketball-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    width: 100%;
    max-width: 100%;
    height: 100%;
    font-family: var(--main-font);
    padding: 3rem;
    margin: 0;
    color: var(--text-color-light);
}
.registration-list{
    /* display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(5, 1fr);
    justify-content: space-between; */
    width: 100rem;
    max-width: 100%;
    margin: 5rem auto;
    

}
.registration-img{
    width: 20rem;
    height: 30rem;
    object-fit: cover;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
 .program-text-one,
 .program-text-two{
    width: 70rem;
    max-width: 100%;
    margin: 3rem auto;
    line-height: 1.8;
    font-size: 1.2rem;
 }
 .program-text-two{
    font-weight: 700;
 }
.program-registration{
   display: grid;
   grid-template-columns: repeat(2, auto);
   grid-template-rows: 1fr;
   justify-content: space-between;
   align-items: center;
   width: 70rem;
   margin: 5rem auto;
   max-width: 100%;
 
}
.program-registration-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: 27rem;
}
.registration-title{
    font-size: 2rem;
    color: var(--dark-color);
    width: 25rem;
    line-height: 1.4;
}
.program-list-text{
    color: var(--transparent-dark);
    width: 40rem;
    line-height: 1.8;
    font-size: .9rem;
}
.clinic-title{
    width: 30rem;
    font-size: 2rem;
    line-height: 1.4;
}
.registration-btn{
    width: 16rem;
    height: 2.8rem;
    cursor: pointer;
    background-color: var(--dark-color);
    color: var(--text-color-light);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-family: var(--main-font);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    transition: all .3s ease;
}
.registration-btn:hover{
    background-color: var(--main-red);
    width: 18rem;
}

.fundraising{
    height: 20rem;
}
.program-hr{
    width: 70%;
    margin: 0 auto;
}
/* RESPONSIVE SECTION */
@media screen and (max-width: 2000px){
    html, body{
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
}

@media screen and (max-width: 1640px){
    .program-registration-one,
    .program-registration-two,
    .program-registration-three,
    .program-registration-four,
    .program-registration-five,
    .program-registration-six{
        width: 25rem;
        height: 35rem;
    }
    .registration-list{
        width: 80rem;
    }
}
@media screen and (max-width: 1410px){
    .program-registration-one,
    .program-registration-two,
    .program-registration-three,
    .program-registration-four,
    .program-registration-five,
    .program-registration-six{
        width: 20rem;
        height: 30rem;
    }

    .registration-title{
        font-size: 2.2rem;
    }
    .registration-btn{
        width: 14rem;
        font-size: .9rem;
    }
    .registration-btn:hover{
        width: 16rem;
    }
}
@media screen and (max-width: 1180px){
    .program-registration-one,
    .program-registration-two,
    .program-registration-three,
    .program-registration-four,
    .program-registration-five,
    .program-registration-six{
        width: 18rem;
        height: 28rem;
    }
}
@media screen and (max-width: 1070px){
    .program-registration-one,
    .program-registration-two,
    .program-registration-three,
    .program-registration-four,
    .program-registration-five,
    .program-registration-six{
        width: 20rem;
        height: 30rem;
    }
    .registration-list{
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, 1fr);
        width: 55rem;
        gap: 3rem;
    }
    .program-list-text{
        width: 30rem;
    }
}
@media screen and (max-width: 920px){
    .program-list-text{
        width: 25rem;
    }
    .registration-list{
        width: 48rem;
    }
}
@media screen and (max-width: 830px){
    .registration-section{
        padding: 1.5rem;
    }
    .program-registration-one,
    .program-registration-two,
    .program-registration-three,
    .program-registration-four,
    .program-registration-five,
    .program-registration-six{
        width: 16rem;
        height: 25rem;
    }
    .registration-list{
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, 1fr);
        gap: 2rem;
    }
    .registration-btn{
        width: 12rem;
    }
    .registration-btn:hover{
        width: 14rem;
    }
}
@media screen and (max-width: 780px){
    .registration-section{
        padding: 1.5rem;
    }
    .program-registration-one,
    .program-registration-two,
    .program-registration-three,
    .program-registration-four,
    .program-registration-five,
    .program-registration-six{
        width: 20rem;
        height: 30rem;
        
    }
    .registration-title{
        font-size: 1.8rem;
        margin-top: 1.5rem;
        width: 20rem;
    }
    .registration-img{
        width: 25rem;
    }
    .program-registration{
        display: flex;
        flex-direction: column-reverse;
    }
    .registration-list{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }
    .registration-btn{
        width: 14rem;
    }
    .registration-btn:hover{
        width: 16rem;
    }
    .clinic-title{
        width: 22rem;
    }
    .tournament-info{
        height: 22rem;
    }
    .program-text-one,
    .program-text-two{
        font-size: 1.1rem;
    }
}
@media screen and (max-width: 460px){

    .registration-title{
        font-size: 1.8rem;
        margin-top: 1.5rem;
        width: 20rem;
    }
    .program-league-info{
        height: 30rem;
    }
    .registration-img{
        width: 20rem;
    }
    .program-registration{
        display: flex;
        flex-direction: column-reverse;
    }
    .registration-list{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }
    .registration-btn{
        width: 14rem;
    }
    .registration-btn:hover{
        width: 16rem;
    }
    .clinic-title{
        width: 20rem;
        max-width: 100%;
    }
    .tournament-info{
        height: 24rem;
    }
    .program-list-text{
        width: 20rem;
        font-size: .8rem;
    }
    .program-text-one,
    .program-text-two{
        font-size: 1rem;
    }
}
@media screen and (max-width: 390px){
    .program-registration-one,
    .program-registration-two,
    .program-registration-three,
    .program-registration-four,
    .program-registration-five,
    .program-registration-six{
        width: 18rem;
        height: 30rem;
    }
    .registration-list{
        width: 18rem;
    }
}