.program-page-section{
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100rem;
    margin: 5rem auto;
    font-family: var(--main-font);

}
.program-page-title{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    width: 30rem;
    margin-bottom: 1rem;
}
.program-page-subtitle{
    font-size: 1.2rem;
    font-weight: 500; 
    margin-bottom: 2rem;
}

.event-info p{
    margin: 1rem 0;
    font-size: 1.1rem;
}
.program-page-list{

}
.event-list-item{
    display: flex;
    justify-content: space-between;
    list-style:circle;
    width: 30rem;
}