.home-header{
    background-image: url('../../images/hero-img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    width: 100%;
    max-width: 100%;
    height: 56rem;
    position: relative;
    z-index: 1;
}
.home-header::before{
    content: "";
    background-color: var(--dark-color);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: .7;
}
.hero-section{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 80rem;
    max-width: 100%;
    height: 40rem;
    margin: 0 auto;
}

/* CERTIFICATE SECTIONS */
.certificate-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60rem;
    margin: 0 auto;
}

.certificate-icons{
    background-color: #fff;
    height: 11rem;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    margin-bottom: 5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.nccp{
    width: 30rem;
    height: 10rem;
    object-fit: cover;
}
.certificate-img{
    width: 12rem;
    height: 8rem;
    object-fit: contain;
}

@media screen and (max-width: 2000px){
    html, body{
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
}
@media screen and (max-width: 1660px) {
    .hero-section{
        width: 80rem;
    }
}
@media screen and (max-width: 1350px) {
    .hero-section{
        width: 70rem;
    }
}
@media screen and (max-width: 1160px) {
    .hero-section{
        width: 60rem;
    }

}
@media screen and (max-width: 980px) {
    .hero-section{
        width: 55rem;
    }
}
@media screen and (max-width: 890px) {
    .hero-section{
        width: 50rem;
    }
}

@media screen and (max-width: 830px) {
    .hero-section{
        width: 40rem;
    }
    .certificate-icons{
        background-color: #fff;
        height: 100%;
    }
    .certificate-box{
        width: 40rem;
    }
    .nccp{
        width: 20rem;
        max-width: 100%;
        height: 10rem;
    }
    .certificate-img{
        max-width: 100%;
        width: 8rem;
        height: 8rem;
    }
}
@media screen and (max-width: 640px) {
    .hero-section{
        width: 35rem;
        height: 30rem;
    }
    .home-header{
        height: 50rem;
    }
}
@media screen and (max-width: 560px) {
    .hero-section{
        width: 30rem;
    }
    .home-header{
        height: 45rem;
    }
    .certificate-box{
        width: 40rem;
        justify-content: space-between;
        flex-direction: column-reverse;
    }
}
@media screen and (max-width: 480px) {
    .hero-section{
        width: 25rem;
    }
    .home-header{
        height: 40rem;
    }
}
@media screen and (max-width: 400px) {
    .hero-section{
        width: 22rem;
        margin: 0 auto;
    }

}